<div class="app-navbar">
  <div class="wrapper">
    <div class="app-navbar-content">
      <div class="app-navbar-logo">
        <a href="/">
          <img src="assets/logo.png" />
        </a>
      </div>
      <div class="app-navbar-option">
        <ul>
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/booking">Reservas</a>
          </li>
          <li>
            <a href="/menu">Cartas</a>
          </li>
          <li>
            <a href="/place">Locales</a>
          </li>
        </ul>
      </div>
      <div class="app-navbar-toolbox">
        <div class="app-navbar-toolbox-option">
          <a href="account/login">
            <i class="bi bi-person-fill"></i>
          </a>
        </div>
        <div class="app-navbar-toolbox-option">
          <a href="#">
            <i class="bi bi-cart-fill"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
