<div class="contenido">
  <div class="titulo">Bienvenido!</div>
  <div class="section-imagen">
    <img
      class="imagen-1"
      src="https://s3-viena-pro.s3.amazonaws.com/media/wysiwyg/1657322330_aniversario-viena-desktop.jpg"
      alt=""
    />
  </div>
  <div class="section-nosotros">
    <div class="row fila-nosotros">
      <div class="col-md-6 col-imagen">
        <img class="imagen-2" src="assets/image-2.jpg" alt="" />
      </div>
      <div class="col-md-6 col-nosotros">
        <div class="subtitulo">Sobre Nosotros</div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam facere
          quo eaque quia consequuntur, repellat magnam beatae fugit debitis
          laboriosam iure. Deserunt doloribus delectus ratione voluptatibus
          deleniti quasi officia asperiores?
        </p>
        <div class="subtitulo">Nuestra Carta</div>
        <div class="part-boton">
          <a class="btn-more" href="">Ver Más</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-locales">
    <div class="row fila-locales">
      <div class="col-md-6 col-locales">
        <div class="subtitulo">Nuestros Locales</div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus id
          quisquam minus unde asperiores nisi deleniti, numquam dolorum mollitia
          hic quod temporibus. Cum, laboriosam. Assumenda et suscipit ratione!
          Explicabo, excepturi?
        </p>
        <div class="part-boton">
          <a class="btn-more" href="">Ver Más</a>
        </div>
      </div>
      <div class="col-md-6 col-imagen">
        <img class="imagen-3" src="assets/image-3.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
