<div class="contenido">
  <div class="titulo">Nuestros Locales</div>
  <div class="section-locales">
    <div class="row">
      <div class="col-md-4">
        <div class="fila-locales">
          <img class="local-img" src="assets/image-4.jpg" alt="">
          <div class="nombre-local">Local 1</div>
        </div>
        <div class="fila-locales">
          <img class="local-img" src="assets/image-4.jpg" alt="">
          <div class="nombre-local">Local 4</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fila-locales">
          <img class="local-img" src="assets/image-4.jpg" alt="">
          <div class="nombre-local">Local 2</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fila-locales">
          <img class="local-img" src="assets/image-4.jpg" alt="">
          <div class="nombre-local">Local 3</div>
        </div>
      </div>
    </div>
  </div>
</div>
